/**************** padding and margin settings *****************

	Setting padding and margins to be added to different sections
	This sections contains individual setting and also a mixin
	to be able to add to different sections

	spacing helpers
	p,m = padding,margin
	a,t,r,b,l,v,h = all,top,right,bottom,left,vertical,horizontal
	s,m,l,n = small(5px),medium(10px),large(20px),none(0px)

**************************************************************/
$paddingMargins: p, m;
$padding-increment: 1;
$positions: t, r, b, l;
$sizes: s, m, l, n;
$pm: padding;
$pos: top;
$sz: 0;
$hvpos: v;
@each $paddingMargin in $paddingMargins {
	$tempVar : $paddingMargin;
	@if $paddingMargin == "p" {
		$pm: padding;
	} @else {
		$pm: margin;
	}
	@each $position in $positions {
		$tempVar2: #{$tempVar}#{$position};
		@if $position == "t" {
			$pos: top;
			$hvpos: v;
		} @else if $position == "r" {
			$pos: right;
			$hvpos: h;
		} @else if $position == "b" {
			$pos: bottom;
			$hvpos: h;
		} @else if $position == "l" {
			$pos: left;
			$hvpos: v;
		}
		@each $size in $sizes {
			$tempVar3: #{$tempVar2}#{$size};
			@if $size == "s" {
				$sz: $padding-increment; 
			} @else if $size == "m" {
				$sz: $padding-increment * 2;
			} @else if $size == "l" {
				$sz: $padding-increment * 4;
			} @else if $size == "n" {
				$sz: $padding-increment * 0;
			}
			.#{$tempVar3}, .#{$tempVar}a#{$size}, .#{$paddingMargin}#{$hvpos}#{$size} {
				#{$pm}-#{$pos}: $sz !important;
			} 
		}
	}
}
/***************** end padding and margin settings *************/
